#intro {

max-width: 700px;
margin: 0 auto;
margin-top: 15%;
margin-bottom: 20%;


}

body {
	background-image: url(../../images/bg8.jpg);
	background-size: cover;
	background-attachment: fixed;
}


.aboutme {

	color: white;

}

.abouttraits {

	color: white;
}

.skills {
	color: white;
}

.picme {
	height: 300px;
	margin-left: 50%;
	position: absolute;
}

.border {

	border: 10px solid white;
	width: 300px;
	height: 450px;
	padding: 10px;
	margin-left: 7.66%;
	margin-top: 3%;
	float: left;

}

.capstones {
	color: white;
}


}
figcaption {
	color: white;
}

.nav-item:hover{
    -webkit-stroke-width: 5.3px;
      -webkit-stroke-color: blue;
      -webkit-fill-color: blue;
      text-shadow: 1px 0px 20px blue;
}

#navi {
	border-bottom: 2px solid #668cff;
}
.abouthr {
	max-width: 10%;
	border-width: 2px;
	border-style: solid;
	color: #668cff;
}

.dashboard-about {
	display: inline-block;
	float: left;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-color: white;
	text-align: center;
	line-height: 50px;
	margin-right: 10px;
}

